<div id="main-container" class="container-fluid">
  <h1> Mall Comp </h1>
  <h2>
    <input type="text" id="filter-list" class="form-control" placeholder="Filter..."/>
  </h2>

  <div id='mall1' class='list-block col-md-6'>
    <%= render partial: "/malls/mall", locals: {mall: @mall1, block_id: 1} %>
  </div>

  <div id='mall2' class='list-block col-md-6'>
    <%= render partial: "/malls/mall", locals: {mall: @mall2, block_id: 2} %>
  </div>
</div>
